@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}

ul {
    list-style: none;
    margin: 0;
}

p {
    margin: 0;
}

a{
    text-decoration: none;
}

header,
footer {
    background-color: #1f2937;
    padding: 10px;
    color: #f9faf8;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
}

nav,
nav .link,
.hero {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

nav,
.hero,
.info,
.quote,
.banner {
    margin-bottom: 100px;
}


.logo,
.banner .title {
    font-size: 24px;
}

.link a,
.hero .text {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

.hero .title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.hero .card {
    flex: 0 1 450px;
}

.hero .image {
    flex: 0 1 450px;
}

.hero .buttons,
.banner .buttons{
    padding: 5px 25px;
    color: #ffff;
    border-radius: 5px;
}

.hero .buttons {
    background-color: #3882F6;
    border: none;
}

.hero .image {
    background-color: #6C747D;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info .title {
    margin: 40px 0;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info .card-wrapper{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.info .card {
    flex: 0 0 150px;
}

.info .image {
    display: block;
    height: 150px;
    border-radius: 10px;
    border: #3B82F6 3px solid;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.info .text {
    text-align: center;
}


.quote {
    background-color: #E4E7EB;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote .wrapper {
    width: 800px;
}

.quote .text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;

}

.quote .author {
    font-size: 24px;
    font-weight: bolder;
    text-align: end;
}


.banner .card {
    background-color: #3882F6;
    padding: 50px;
    color: #ffff;
    border-radius: 10px;
    border: none;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner .buttons {
    background-color: transparent;
    border: #ffff 1px solid;
}

footer {
    padding: 30px 0;
    text-align: center
}